@model IEnumerable<ASPMVC_WebNgheNhac.Models.DANHSACHNHAC>

@{
    Layout = "~/Views/User/_UserViewer.cshtml";
}

@section title{
<title>Home</title>
}

@section plugin_css{
<link rel="stylesheet" type="text/css" href="/Assets/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="/Assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/Assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/Assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/Assets/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/Assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/Assets/styles/responsive.css">
}

@section plugin_script{
<script src="/Assets/js/jquery-3.2.1.min.js"></script>
<script src="/Assets/styles/bootstrap-4.1.2/popper.js"></script>
<script src="/Assets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="/Assets/plugins/greensock/TweenMax.min.js"></script>
<script src="/Assets/plugins/greensock/TimelineMax.min.js"></script>
<script src="/Assets/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/Assets/plugins/greensock/animation.gsap.min.js"></script>
<script src="/Assets/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/Assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/Assets/plugins/easing/easing.js"></script>
<script src="/Assets/plugins/progressbar/progressbar.min.js"></script>
<script src="/Assets/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/Assets/plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="/Assets/plugins/jPlayer/jplayer.playlist.min.js"></script>
<script src="/Assets/js/custom.js"></script>
}

@section NowActive{
<li class="active"><a href="@Url.Action("Index", "User")">Trang chủ</a></li>
<li><a href="@Url.Action("About", "User")">Thể loại nhạc</a></li>
<li><a href="@Url.Action("Music", "User")">Nghe nhạc</a></li>
<li><a href="@Url.Action("Contact", "User")">Liên lạc</a></li>
<li><a href="@Url.Action("Single", "User")">Nghệ sĩ</a></li>
}

<!-- Home -->

<div class="home">
    <div class="home_slider_container">
        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">
            @{ 
                //int numberSlide = Model.Count();
            }
            <!-- Slide -->
            @foreach (var item in Model)
            {
                <div class="owl-item">
                    <div class="background_image" style="background-image:url(@Url.Content(item.DuongDanAnh))">

                    </div>
                    <center><h2>Được nghe nhiều nhất!</h2></center>
                    <div class="home_container">
                        <div class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                            <div class="home_content text-center">
                                <div class="home_subtitle">Lượt nghe: @item.LuongTruyCap</div>
                                <div class="home_title"><h1>@item.TenDanhSach</h1></div>
                                <div class="home_link"><a href="@item.DuongDanTrucTuyen">_Listen_</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
