
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/Assets/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post" action="@Url.Action("Login","User")">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" name="info.Email" class="form-control"  required="required">
                            <label for="info.Email">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" name="info.MatKhau" class="form-control"  required="required">
                            <label for="info.MatKhau">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>

                <!--============================= /Test =====================================-->
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Register", "User")">Register an Account</a>
                    <a class="d-block small" href="@Url.Action("ResetPassword", "User")">Forgot Password?</a>
                    <a class="d-block small" href="@Url.Action("Index", "User")">Về trang chủ</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Thông báo gì đó-->
    <script>
        var msg = "@ViewBag.Message";
        if (msg) {
            alert(msg);
        }
    </script>
</body>

</html>
