@model ASPMVC_WebNgheNhac.Models.THELOAI

@{
    ViewBag.Title = "Edit_THELOAI";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div>
    @Html.ActionLink("Back to List", "Library", new { id = "THELOAI" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chỉnh sửa thể loại</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTheLoai)

        <div class="form-group">
            @Html.LabelFor(model => model.TenTheLoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTheLoai, new { htmlAttributes = new { @class = "form-control" , @size = "200" } })
                @Html.ValidationMessageFor(model => model.TenTheLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DuongDanAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuongDanAnh, new { htmlAttributes = new { @class = "form-control", @size = "200" } })
                @Html.ValidationMessageFor(model => model.DuongDanAnh, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
