@model ASPMVC_WebNgheNhac.Models.DANHSACHNHAC

@{
    ViewBag.Title = "Edit_DANHSACHNHAC";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<div>
    @Html.ActionLink("Back to List", "Library", new { id = "DANHSACHNHAC" })
</div>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Chỉnh sửa danh sách nhạc</h4>

        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.MaDanhSach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.MaDanhSach)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDanhSach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDanhSach, new { htmlAttributes = new { @class = "form-control" , @size = "200" } })
                @Html.ValidationMessageFor(model => model.TenDanhSach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control" , @size = "200" } })
                @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DuongDanAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuongDanAnh, new { htmlAttributes = new { @class = "form-control" , @size = "200" } })
                @Html.ValidationMessageFor(model => model.DuongDanAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Chỉnh sửa" class="btn btn-default" />
            </div>
        </div>
    </div>
}
