@model ASPMVC_WebNgheNhac.Models.QUYENTRUYCAP

@{
    ViewBag.Title = "Edit_QUYENTRUYCAP";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div>
    @Html.ActionLink("Back to List", "Library", new { id = "QUYENTRUYCAP" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>QUYENTRUYCAP</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaQuyenTruyCap)

        <div class="form-group">
            @Html.LabelFor(model => model.TenQuyenTruyCap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenQuyenTruyCap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenQuyenTruyCap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
