@model IEnumerable<ASPMVC_WebNgheNhac.Models.TACGIA>

@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
@{
    ASPMVC_WebNgheNhac.Models.DbMusicWebsite db = new ASPMVC_WebNgheNhac.Models.DbMusicWebsite();
}
<div class="table-responsive">
    @Html.ActionLink("Thêm mới", "Edit", new { id = "TACGIA" })
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayBatDau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongBaiHat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuongDanAnh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LienKet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HienThiTrenTrangChu)
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayBatDau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongBaiHat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuongDanAnh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LienKet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HienThiTrenTrangChu)
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            string hotentacgia = db.TACGIAs.Find(item.MaTacGia).HoTen;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBatDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongBaiHat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuongDanAnh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LienKet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HienThiTrenTrangChu)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = "TACGIA", _Value = item.MaTacGia }) |
                    @Html.ActionLink("Delete", "Delete", new { id = "TACGIA", _Value = item.MaTacGia })
                </td>
            </tr>
        }
    </table>
</div>